@import "tailwindcss";

@config "../../tailwind.config.ts";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

* {
    font-family: 'Poppins', sans-serif;
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1C2E3D;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

.container {
    max-width: 1200px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.custom-pagination {
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 9999;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 5px !important;
    background: transparent !important;
    font-weight: bold;
    border: 1px solid #0F70DC;
    border-radius: 5px !important;
    transition: 0.3s;
    margin: 0 !important;
}

.swiper-pagination-bullet-active {
    background: #0F70DC !important;
    color: white;
}

@media (max-width: 768px) {
    .container {
        width: calc(100% - 20px);
    }
}