@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C2E3D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container{
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 20px);
  }
}

*{
  font-family: 'Poppins', sans-serif;
}